//fonts
$playfair: 'Playfair Display', serif;
$philosopher: 'Philosopher', sans-serif;
//colors
$blue: #223F78;
$lightBlue: #E0E0E0;
//media
//size
$width-sm: 576px;
$width-md: 767px;
$width-lg: 992px;