@import url('https://fonts.googleapis.com/css?family=Philosopher|Playfair+Display&display=swap');
* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.container .row:not(:last-child) {
	margin-bottom: 25px;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

// Main styles

body {
	font-family: $playfair;
}

img {
	width: 100%;
	display: block;
}

.section {
	min-height: 100vh;
}

.feedback-submit {
	@include size(50px);
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid #fff;
	background: transparent;
	position: relative;
	transition: all .4s ease-out;

	&:hover {
		border-color: #00d800d9;
	}

	& img {
		@include pos($t:0, $l:0, $r:0, $b:0);
		@include size(20px);
		margin: auto;
	}
}

.button {
	border: 1px solid #FFFFFF;
	border-radius: 100px;
	text-transform: uppercase;
	padding: 15px 35px;
	color: #fff;
}

.button[data-color="blue"] {
	border-color: $blue;
	color: $blue;
}

.button[data-color="blue"] {
	border-color: $blue;
	color: $blue;
}

.buttons .button.button__blue[data-color="blue"] {
	background: $blue;
	color: #fff;
}

.button-preview {
	@include align($vert: true, $hor: true, $pos: absolute);
	z-index: 6;
}

.buttons {
	display: flex;
	flex-direction: column;
	@media (min-width: $width-md) {
		flex-direction: row;
	}
	.button__transperant {
		background: transparent;
		margin-right: 30px;
		width: 100%;
		margin-bottom: 20px;
		@media (min-width: $width-md) {
			flex-direction: row;
			margin-bottom: 0;
			width: unset;
		}
	}
	.button__blue {
		color: $blue;
		background: #fff;

	}
}

.button-FAQ {
	@include pos($l:20px, $b:20px);
	font-size: 45px;
	color: #fff;
	background: transparent;
	transition: all .4s ease-out;

	& > .fa-question {
		display: block;
	}

	& > .fa-times {
		display: none;
	}
	@media (min-width: $width-sm) {
		display: none;
	}
	&.button-FAQ__active {
		left: 80px;
		& > .fa-question {
			display: none;
		}

		& > .fa-times {
			display: block;
		}
	}
}

.burger-menu {
	margin-left: auto;
	z-index: 10;
	@media (min-width: $width-sm) {
		margin-left: 0;
  	}
}

.menu {
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  width: 30px;
  height: 30px;

  @media (min-width: $width-sm) {
	display: none;
  }
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 4px solid white;
  width: 100%;
  transition: all .4s ease-out;
  border-radius: 8px;
}
.menu-top {
  top: 0;
}
.menu-middle {
  top: 11px;
}
.menu-bottom {
  top: 22px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: all .4s ease-out 0.5s;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: all .4s ease-out 0.5s;
}

#pp-nav span, .pp-slidesNav span {
	background: #fff;
	border: none;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, .5);
}
#pp-nav li a.active span {
	@include size(12px);
	left: 0px;
	top: 0px;
	background: #fff;
}